@media (min-width: 35em) {
  :root {
    --fs-900: 9.375rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

@media (min-width: 45em) {
  .grid-container {
    column-gap: 2rem;

    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );

    & > *:first-child {
      grid-column: 2;
      outline: 1px solid red;
    }

    & > *:last-child {
      grid-column: 3;
      outline: 1px solid yellow;
    }
  }
}
