/* destination layout */
.destination {
  background-image: url("../img/destination/background-destination-mobile.jpg");
}

@media (min-width: 35rem) {
  .destination {
    background-position: center center;
    background-image: url("../img/destination/background-destination-tablet.jpg");
  }
}

@media (min-width: 45rem) {
  .destination {
    background-image: url("../img/destination/background-destination-desktop.jpg");
  }
}

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";

  & > picture {
    grid-area: image;
    max-width: 60%;
  }

  & > .tab-list {
    grid-area: tabs;
  }

  & > .destination-info {
    grid-area: content;
  }
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;

  p {
    font-size: 1.75rem;
  }
}

@media (min-width: 35em) {
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 45em) {
  .destination-meta {
    gap: min(8vw, 6rem);
    justify-content: start;
  }
}
